.opposite {
    display: flex;
    justify-content: space-between;
}

#cv-preview {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 150mm;
    height: 210mm;
    padding: 12mm;
    justify-self: center;
    background-color: #fff;
    box-shadow: 0 4px 8px #0000001a;
    border: 1px solid #ccc;
}

#cv-preview a {
    color: black;
}

.cv-name {
    font-size: 2.5rem;
    font-weight: 500;
}

.center {
    text-align: center;
}

.cv-header {
    margin-top: 6px;
    font-size: 1.3rem;
    font-weight: 500;
}

.cv-details {
    font-size: 0.85rem;
}

.cv-details div {
    margin-bottom: 4px;
}

.personal-details {
    font-size: 0.9rem;
    margin-bottom: 6px;
}

ul {
    margin: 6px 0;
    padding-left: 18px;
}

li {
    margin-bottom: 2px;
}
