body {
    font-family: Geist Mono;
    margin: 0;
}
#root {
    display: flex;
}

.preview {
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
}
